@charset "UTF-8";

body {
	margin: 0;
	width: 100%;
	height: 100%;
	line-height: 1.43;
	color: rgba(0, 0, 0, 0.87);
	margin: 0;
	font-size: 14px;
	font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;
	font-weight: 400;
	line-height: 1.43;
}

div {
	display: block;
}

input {
/* 	border: none; */
	width: 100%;
}

 
/* MAIN */
main {
	width: 100%;
	max-width: 100vw;
}

/* HEADER-SECTION */
section {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background: #f9fafc;
	z-index: 0;
}

#home {
	height: 150px;
}

.homeTitle {
	font-size: 22px;
	color: white;
	margin-top: 30px;
}

a {
	text-decoration: none;
}


/* SECTION */
#titleInfo {
	padding : 40px 0;
}

#container_titleInfo {
	background-color: rgb(249, 250, 252);
    width: 80%;
    max-width: 1024px;
}

#titleInfo h1 {
    font-size: 1.4rem;
    font-weight: 700;
}

#info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	max-width: 100vw;
	margin-top: 20px;
	margin-bottom: 60px;
}

#info .container{
	display: flex;
    background-color: rgb(249, 250, 252);
    width: 80%;
    margin: 0 auto;
    padding-top: 15px;
    max-width: 1024px;
}

.category {
	width: 30%;
	font-weight: bold;
}

.category_list {
	align-items: center;	
}

/* 유저 계정 정보 리스트 */
.account_list_container {
	width: 70%;
/* 	box-sizing: content-box; */
}

.account_list {
/* 	width: 500px; */
}

.account_items {

}

.btnChk { -
	-borderWidth: 1; -
	-boxShadowDepth: 8; -
	-buttonColor: #112732; -
	-horizontalPadding: 16; -
	-verticalPadding: 8;
	
	width: 100%;
	padding: 16px 24px;
	background-color: #112732;
	color: white;
	border-radius: 40px;
	border: 0;
	font-weight: bold;
	font-size: 0.9rem;
	
	border: calc(var(- -borderWidth)* 1px) solid var(- -buttonColor);
	outline: 1px;
	padding: calc(var(- -verticalPadding)* 1px)
		calc(var(- -horizontalPadding)* 1px);
	transition: box-shadow 0.15s ease;
	border-color: #112732;
	border-width: 1px;
	border-radius: 20px;
}
