@charset "UTF-8";

body {
	margin: 0;
	width: 100%;
	height: 100%;
	line-height: 1.43;
	color: rgba(0, 0, 0, 0.87);
	margin: 0;
    font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;
	font-weight: 400;
	line-height: 1.43;
}

div {
	display: block;
}

input {
	border: none;
}

a{
color: black;
text-decoration: none;
}


/* MAIN */
main {
	width: 100%;
	max-width: 100vw;
}

section {
	padding: 45px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background: #f9fafc;
	z-index: 0;
}

#home {
	height: 350px;
	padding: 0;
}

a {
	text-decoration: none;
}

.homeSpan {
	font-size: 44px;
	font-weight: bold;
}
	
/* SECTION 2 */
.mini {
	padding: 3px 0;
	background-color: transparent;
	position: -webkit-sticky;
	position: sticky;
	top: 55px;
	z-index: 999;
}

.mini .container {
	width: 80%;
	max-width: 1024px;
}

.mini_row {
	display: flex;
	flex-direction: row;
	padding: 3px 0;
}

.mini_row button {
	margin: 0 8px 0 0;
	font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;
	font-size: 12px;
}

/* SECTION 3 */
#sth {
	width: 100%;
}

#store_list {
	width: 100%;
}

#sth .container {
	width: 80%;
	margin: 0 auto;
	padding-top: 15px;
	max-width: 1024px;
}


section .container .store_list_grid {
 	display: grid;
  	grid-column-gap: 30px;
	grid-row-gap: 30px;
	grid-template-rows: auto;  
 	grid-template-columns: repeat(3, 1fr);  
 	justify-items: center;
}

.cardA {
}

.store_card_image img {
	width: 300px;
	height: 160px;
	border-radius: 6px;
	background: #ebf3fe;
	border: 0;
	position: relative;
	transition: .2s ease-in-out;
}

#logoutBtn{
	display:none;
}

.store_card_info {
	font-size: 12px;
	margin-top: 10px;
}

.store_card_info_name h3 {
	font-size: 16px;
	font-weight: 600;
	margin: 0;
}

.frm {
	display: none;
}

/* search bar μ„Έν… */
form{
    position: relative;
    transition: all 1s;
    width: 34.45px;
    height: 34.45px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

i {
    position: relative;
    transition: all 1s;
    width: 34.45px;
    height: 34.45px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    vertical-align:middle;
}

input{
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;;
    height: 34.45px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 12px;
    font-weight: 700;
    color: white;
    border-radius: 20px;
    padding: 0 20px;
    background-color: #112732;
}

.fa{
    box-sizing: border-box;
/*     padding: 10px; */
    width: 34.35px;
    height: 34.35px;
    position: absolute;
    top: -4px;
    right: 0;
    border-radius: 50%;
    border-color: transparent;
    color: #112732;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 200px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #112732;
    color: white;
}

.countDiv {
	display: inline-block;
	text-align: center;
}

@media screen and ( max-width : 1080px) {
	#home {
		height: 250px;
	}
	.homeSpan {
		font-size: 36px;
	}
	.container {
    	width: 990px;
	}
	section .container .store_list_grid {
		display: grid;
		grid-column-gap: 30px;
		grid-row-gap: 30px;
		grid-template-rows: auto;
		/* 	grid-template-columns: repeat(2, 1fr); */
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		justify-items: center;
	}
}