@charset "UTF-8";

body {
	margin: 0;
	width: 100%;
	height: 100%;
	line-height: 1.43;
	color: rgba(0, 0, 0, 0.87);
	margin: 0;
    font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;
	font-weight: 400;
	line-height: 1.43;
}

div {
	display: block;
}

input {
	border: none;
}

a{
color: black;
text-decoration: none;
}

/* MAIN */
main {
	width: 100%;
	max-width: 100vw;
}

section {
	padding: 45px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background: #f9fafc;
	z-index: 0;
}

#home {
	height: 350px;
	padding: 0;
}

a {
	text-decoration: none;
}

.homeSpan {
	font-size: 44px;
	font-weight: bold;
}
	
/* SECTION 2 */
.mini {
	padding: 3px 0;
	background-color: white;
	position: -webkit-sticky;
	position: sticky;
	top: 55px;
	z-index: 999;
}

.mini .container {
	width: 80%;
}

.mini_row {
	display: flex;
	flex-direction: row;
	padding: 3px 0;
}

.mini_row button {
	margin: 0 8px 0 0;
	font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;
	font-size: 12px;
}

.search-term {
	display: inline-flex;
	align-items: center;
	text-align: center;
	flex-direction: row;
	position: relative
}

.search-term button {
	width: 34px; -
	-verticalPadding: 0; -
	-horizontalPadding: 0;
	height: 34px;
}

.search-term svg {
	width: 20px;
	height: 20px;
	padding: 0 auto;
}

.search-term {
	border-radius: 50px;
}

#hidden_term {
	visibility: hidden;
}

/* SECTION 3 */
#sth {
	width: 100%;
}

#sth .container {
	width: 80%;
	margin: 0 auto;
	padding-top: 15px;
}

section#store-list {
	padding-top: 65px;
}

section .container .store_list_grid {
	display: grid;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	grid-template-rows: auto;
	min-height: 0;
	min-width: 0;
	grid-template-columns: repeat(3, 1fr);
}

.store_card_image img {
	height: 210px;
	border-radius: 6px;
	width: 100%;
	background: #ebf3fe;
	border: 0;
	position: relative;
	transition: .2s ease-in-out;
	height: 160px;
}

#logoutBtn{
	display:none;
}

.store_card_info {
	font-size: 12px;
}

/* search bar μ„Έν… */
form{
    position: relative;
    transition: all 1s;
    width: 34.45px;
    height: 34.45px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

i {
    position: relative;
    transition: all 1s;
    width: 34.45px;
    height: 34.45px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    vertical-align:middle;
}

input{
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;;
    height: 34.45px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 12px;
    font-weight: 700;
    color: white;
    border-radius: 20px;
    padding: 0 20px;
    background-color: #112732;
}

.fa{
    box-sizing: border-box;
/*     padding: 10px; */
    width: 34.35px;
    height: 34.35px;
    position: absolute;
    top: -4px;
    right: 0;
    border-radius: 50%;
    border-color: transparent;
    color: #112732;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 200px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #112732;
    color: white;
}