header {
	display: flex;
	top: 0;
	left: 0;
	justify-content: center;
	height: 55px;
	position: fixed;
	width: 100%;
	max-width: 100vw;
	z-index: 1299;
	background-color: #112732;
	box-shadow: none;
	border-bottom: 1px solid transparent;
}
header.activated{
  background-color:#112732;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);

}
.header_container {
	width: 80%;
	display: flex;
	align-items: center;
	max-width: 1024px;
	justify-content: space-between;
	transition: .2s ease-in-out;
	padding-left: 15px;
	padding-right: 15px;
}


.logo {
	padding: 2px 0;
	display: flex;
}
.menu {
	display: inline-block;
	justify-content: flex-end;
	color: white;
}
.menu_btn{
	width: 80px;
	height: 30px;
	font-size: 10px;
	border-radius: 28px;
}
#logoutBtn {
	width: 80px;
	height: 30px;
	font-size: 10px;
	border-radius: 28px;
}

#cart-selector {
	width: 80px;
	height: 30px;
	font-size: 10px;
	border-radius: 28px;
}