@charset "UTF-8";

body {
   font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;
   margin: 0;
   width: 100%;
   height: 100%;
   line-height: 1.43;
}

div {
   display: block;
}

input {
   border: none;
   width: 378px;
}

a {
   color: black;
   font-size: 14px;
   font-weight: normal;
}



/* HEADER */
/* dropdown 메뉴 세팅 */
.dropdown-menu {
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 8px 0;
   margin: 2px 0 0;
   font-size: 14px;
   color: #212529;
   text-align: left;
   list-style: none;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid rgba(0, 0, 0, .15);
   border-radius: 4px;
}

.menu-item__icon {
   width: 20px;
   height: 20px;
   margin-right: 10px;
}

.dropdown-itemss span {
   margin: auto;
   width: 50%;
}

.dropdown-item {
   display: block;
   width: 100%;
   padding: 4px 24px;
   clear: both;
   font-weight: 400;
   color: #212529;
   text-align: inherit;
   white-space: nowrap;
   background-color: transparent;
   border: 0;
   font-family: Inter, sans-serif;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.75;
}

/* 원형 아이콘 */
.jss98 {
   width: 32px;
   height: 32px;
   display: flex;
   overflow: hidden;
   position: relative;
   font-size: 10px;
   align-items: center;
   flex-shrink: 0;
   font-family: Inter, sans-serif;
   user-select: none;
   border-radius: 50%;
   justify-content: center;
   font-size: 10px;
   font-weight: 700;
   color: rgb(255, 255, 255);
   background-color: rgb(0, 0, 0);
}

.MuiAvatar-root {
   width: 32px;
   height: 32px;
   display: inline-flex;
   overflow: hidden;
   position: relative;
   font-size: 10px;
   align-items: center;
   flex-shrink: 0;
   font-family: Inter, sans-serif;
   user-select: none;
   border-radius: 50%;
   justify-content: center;
}

/* 화살표 아이콘 버튼 */
.jss99 {
   width: 32px;
   height: 32px;
   padding: 0;
}

.MuiIconButton-sizeSmall {
   padding: 3px;
   font-size: 1.125rem;
}

.MuiIconButton-root {
   flex: 0 0 auto;
   color: rgba(0, 0, 0, 0.54);
   padding: 12px;
   overflow: visible;
   font-size: 1.5rem;
   text-align: center;
   transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
   border-radius: 50%;
}

.MuiButtonBase-root {
   color: inherit;
   border: 0;
   cursor: pointer;
   margin: 0;
   display: inline-flex;
   outline: 0;
   padding: 0;
   position: relative;
   align-items: center;
   user-select: none;
   border-radius: 0;
   vertical-align: middle;
   -moz-appearance: none;
   justify-content: center;
   text-decoration: none;
   background-color: transparent;
   -webkit-appearance: none;
   -webkit-tap-highlight-color: transparent;
}

.MuiIconButton-label {
   width: 100%;
   display: flex;
   align-items: inherit;
   justify-content: inherit;
}

.MuiIconButton-sizeSmall {
   padding: 3px;
   font-size: 1.125rem;
}

.MuiSvgIcon-root {
   fill: currentColor;
   width: 1em;
   height: 1em;
   display: inline-block;
   font-size: 1.5rem;
   transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
   flex-shrink: 0;
   user-select: none;
}

.MuiTouchRipple-root {
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: block;
   z-index: 0;
   overflow: hidden;
   position: absolute;
   border-radius: inherit;
   pointer-events: none;
}

/* MAIN */
main {
   width: 100%;
   max-width: 100vw;
}

/* SECTION */
@media only screen and (min-width: 1200px) {
   .container {
      width: 980px;
   }
}

.brand_img {
   width: 130px;
   height: 80px;
   border: none;
   border-radius: 12px;
   filter: grayscale(100%);
}

.brand_img:hover {
   filter: grayscale(0%);
}

#searchBtn {
   border-radius: 6px;
   padding: 15px 40px;
   font-size: 12px;
}

#searchDrop {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 442px;
    padding: 8px 0;
    margin: 2px 0 0;
    font-size: 14px;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
}


.MuiInputBase-root {
   color: rgba(0, 0, 0, 0.87);
   cursor: text;
   display: inline-flex;
   position: relative;
   font-size: 1rem;
   box-shadow: 0px 9px 20px rgba(75, 72, 72, 0.3);
   box-sizing: border-box;
   align-items: center;
   font-family: Inter, sans-serif;
   border-radius: 6px;
   background-color: #FFFFFF;
}

.jss38 svg {
   min-width: 14px !important;
   max-width: 14px;
   max-height: 14px;
}

.search_text {
   padding-left: 12px;
   font-size: 14px;
}

/* 모달 전체 세팅 */
.modal-dialog.modal-size {
   width: 444px;
   height: auto;
   margin: 0;
   padding: 0;
}

.modal-content.modal-size {
   height: auto;
   min-height: 100%;
   border-radius: 16px;
}

.modal {
   text-align: center;
}

@media screen and (min-width: 768px) {
   .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
   }
}

.modal-dialog.modal-size {
   display: inline-block;
   text-align: left;
   vertical-align: middle;
}

/* 모달 header 세팅 */
.modal-header {
   padding: 32px;
   display: flex;
   width: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-bottom: 1px solid rgba(20, 23, 26, .08);
   text-align: center;
}

.header-icon {
   display: inline-flex;
   padding: 16px;
   border-radius: 16px;
   margin-bottom: 16px;
}

.close {
   color: rgba(0, 0, 0, 0.54);
   position: absolute !important;
   top: 25px;
   right: 25px;
}

/* 모달 body 세팅 */
.modal-body {
   flex: 1 1 auto;
   padding: 32px 32px 16px 32px;
   overflow-y: auto;
   -webkit-overflow-scrolling: touch;
}

/* 모달 footer 세팅 */
.modal-footer {
   flex: 0 0 auto;
   display: flex;
   padding: 16px 32px 32px 32px;
   align-items: center;
   justify-content: center;
   border-top: 0;
}

.btnChk {
   width: 100%;
   height: 50px;
   background-color: #36727C;
   color: white;
   border-radius: 12px;
   border: 0;
   font-weight: bold;
   font-size: 18px;
}

#logoutBtn {
   display: none;
}

#dropdownMenuButton {
   display: none;
}

#MuiAvatar-root-id {
   visibility: hidden;
}

.city_name{
	font-size: 16px;
}