<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CartNo">
   <resultMap type="CartNo" id="resultCartNo">
      <!-- property에는 vo의 필드명, column에는 db table의 컬럼명 -->
      <id property="cartno_id" column="cartno_id" />
   </resultMap>
   
   <insert id="insertCartNo" flushCache="true" statementType="PREPARED">
      insert into CARTNO (cartno_id) values (('N' || LPAD(CARTNO_SEQ.nextval, 5, 0)))
   </insert>
   
   <select id="currentCartId" resultType="CartNo">
   select ('N' || LPAD(CARTNO_SEQ.CURRVAL, 5, 0)) as cartno_id from dual
   </select>

   <!-- INSERT한 다음, 생성된 order_id로 OrderVO를 가져오는 메소드 -->
   <select id="selectOneCartNo" parameterType="string"
      resultType="CartNo">
      select * from cartNo where cartno_id = #{cartno_id}
   </select>


</mapper>