<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CustomCheck">
   <resultMap type="CustomCheck" id="resultCustomCheck">
      <!-- property에는 vo의 필드명, column에는 db table의 컬럼명 -->
      <id property="custom_check_id" column="custom_check_id" />
      <result property="custom_id" column="custom_id" />
      <result property="order_id" column="order_id" />
   </resultMap>


   <insert id="insertCustomCheck" parameterType="CustomCheck"
      flushCache="true" statementType="PREPARED">
      insert into Custom_check (custom_check_id, custom_id, order_id) values (('K'
      || LPAD(CUSTOM_SEQ.nextval, 5, 0)),#{custom_id},#{order_id})
   </insert>




</mapper>