<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Pay">
	<resultMap type="Pay" id="resultPay">
		<!-- property에는 vo의 필드명, column에는 db table의 컬럼명 -->
		<id property="pay_id" column="pay_id" />
		<result property="cartno_id" column="cartno_id" />
		<result property="pay_total_price" column="pay_total_price" />
		<result property="pay_time" column="pay_time" />
		<result property="pay_request" column="pay_request" />
		<result property="pickup_time" column="pickup_time" />
		<result property="pay_status" column="pay_status" />
	</resultMap>

	<insert id="insertPayment" parameterType="Pay">
		insert into PAYMENT
		(pay_id, cartno_id, pay_total_price, pay_request, pickup_time)
		values(('P' || LPAD(PAYMENT_SEQ.nextval, 5, 0)), #{cartno_id},
		#{pay_total_price}, #{pay_request}, #{pickup_time})
	</insert>

	<update id="updatePayStatus" parameterType="Pay">
		update payment set
		pay_status = #{pay_status} where pay_id = #{pay_id}
	</update>

</mapper>
	