<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Search">
	<resultMap type="Search" id="resultSearch">
		<!-- property에는 vo의 필드명, column에는 db table의 컬럼명 -->
		<id property="store_id" column="store_id" />
		<result property="store_pw" column="store_pw" />
		<result property="store_addr" column="store_addr" />
		<result property="store_name" column="store_name" />
		<result property="store_time" column="store_time" />
		<result property="store_img" column="store_img" />
		<result property="store_description" column="store_description" />
		<result property="store_lat" column="store_lat" />
		<result property="store_lng" column="store_lng" />
		<result property="store_distance" column="store_distance" />
	</resultMap>
	
	<!-- 브랜드명으로 List<Store> 출력 -->
	<select id="selectStoresByBrand" parameterType="string" resultType="arraylist" resultMap="resultSearch" >
		select * from store where store_name LIKE '%'||#{store_name}||'%'
	</select>
	
	<!--  주소 검색시 List<Store> 출력 -->
	<select id="selectStoresByAddr" parameterType="string" resultType="arraylist" resultMap="resultSearch">
		select * from store where store_addr LIKE '%'||#{store_addr}||'%'
	</select>
	
	<!--  dropdown으로 뽑아낼 간소화된 주소 출력 -->
	<!--  null 값이 들어오는데, nvl 이런 걸로 처리해버리면 되지 않을까? 싶습니다. -->
	<!--  db세팅에 addr not null로 -->
	<select id="checkAddr" parameterType="string" resultType="arraylist" resultMap="resultSearch">
		select  distinct nvl(substr(store_addr, 1, instr(store_addr, ' ', 1, 3)),'오류') as store_addr from store where store_addr like '%'||#{store_addr}||'%'
	</select>
</mapper>
