<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias type="com.kh.jaba.client.model.domain.Client"
			alias="Client" />
		<typeAlias type="com.kh.jaba.admin.model.domain.Admin"
			alias="Admin" />
		<typeAlias type="com.kh.jaba.biz.model.domain.Biz"
			alias="Biz" />
		<typeAlias type="com.kh.jaba.biz.board.model.domain.BizBoard"
			alias="BizBoard" />
		<typeAlias type="com.kh.jaba.explore.model.domain.Search"
			alias="Search" />
		<typeAlias type="com.kh.jaba.client.menu.model.domain.Menu"
			alias="Menu" />
		<typeAlias type="com.kh.jaba.client.menu.model.domain.MenuCollection"
			alias="MenuCollection" />
		<typeAlias type="com.kh.jaba.client.custom.model.domain.Custom"
			alias="Custom" />
		<typeAlias type="com.kh.jaba.client.custom.model.domain.CustomCollection"
			alias="CustomCollection" />
		<typeAlias type="com.kh.jaba.client.order.model.domain.Order"
			alias="Order" />
		<typeAlias type="com.kh.jaba.client.order.model.domain.CustomCheck"
			alias="CustomCheck" />
		<typeAlias type="com.kh.jaba.client.cart.model.domain.Cart"
			alias="Cart" />
		<typeAlias type="com.kh.jaba.client.cart.model.domain.CartNo"
			alias="CartNo" />
		<typeAlias type="com.kh.jaba.client.payment.model.domain.Pay"
			alias="Pay" />
		<typeAlias type="com.kh.jaba.client.paysearch.model.domain.PaySearch"
			alias="PaySearch" />
		<typeAlias type="com.kh.jaba.client.paysearch.model.domain.PaySearchCollection"
			alias="PaySearchCollection" />
		<typeAlias type="com.kh.jaba.client.qna.model.domain.Qna"
			alias="Qna" />
	</typeAliases>
	<mappers>
		<mapper resource="mappers/client-mapper.xml" />
		<mapper resource="mappers/admin-mapper.xml" />
		<mapper resource="mappers/biz-mapper.xml" />
		<mapper resource="mappers/bizBoard-mapper.xml" />
		<mapper resource="mappers/search-mapper.xml" />
		<mapper resource="mappers/menu-mapper.xml" />
		<mapper resource="mappers/custom-mapper.xml" />
		<mapper resource="mappers/order-mapper.xml" />
		<mapper resource="mappers/customCheck-mapper.xml" />
		<mapper resource="mappers/cart-mapper.xml" />
		<mapper resource="mappers/cartNo-mapper.xml" />
		<mapper resource="mappers/pay-mapper.xml" />
		<mapper resource="mappers/paySearch-mapper.xml" />
		<mapper resource="mappers/paySearchCollection-mapper.xml" />
		<mapper resource="mappers/qna-mapper.xml" />
	</mappers> 
</configuration>
