<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias type="com.kh.jaba.client.model.domain.Client"
			alias="Client" />
		<typeAlias type="com.kh.jaba.admin.model.domain.Admin"
			alias="Admin" />
		<typeAlias type="com.kh.jaba.biz.model.domain.Biz"
			alias="Biz" />
		<typeAlias type="com.kh.jaba.explore.model.domain.Search"
			alias="Search" />
		<typeAlias type="com.kh.jaba.client.menu.model.domain.Menu"
			alias="Menu" />
		<typeAlias type="com.kh.jaba.client.custom.model.domain.Custom"
			alias="Custom" />
	</typeAliases>
	<mappers>
		<mapper resource="mappers/client-mapper.xml" />
		<mapper resource="mappers/admin-mapper.xml" />
		<mapper resource="mappers/biz-mapper.xml" />
		<mapper resource="mappers/search-mapper.xml" />
		<mapper resource="mappers/menu-mapper.xml" />
		<mapper resource="mappers/custom-mapper.xml" />
	</mappers> 
</configuration>
